<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
    <main class="flex-col-center-center" id="main-crear-productos">
        <h1>Crear productos</h1>
        <form class="flex-col-center-center formulario-productos" id="formulario-crear-productos">
            <div class="flex-row-start-center">
                <label for="nombre">Nombre</label>
                <input name="nombre" id="nombre" type="text">
            </div>
            <div class="flex-row-start-center">
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria">
                    <option value="medicamento">Medicamento</option>
                    <option value="crema">Crema</option>
                </select>
            </div>
            <div class="flex-row-start-center">
                <label for="precio">Precio</label>
                <input name="precio" id="precio" type="number">
            </div>
            <div class="flex-row-start-center">
                <label for="imagen">Imagen</label>
                <input name="imagen" id="imagen" type="text">
            </div>
            <button type="submit">Enviar</button>
        </form>
        <div id="modal-container"></div>
    </main>
</body>
<script defer src="/js/create.js"></script>
<%- include("partials/footer.ejs") %>
