<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<body>
    <main id="main-modificar-productos">
        <h1>Buscar producto por id y luego modificar</h1>
        <div class="flex-row-center-center">
            <input id="input-id-producto" name="id" placeholder="id..." type="text">
            <div onclick="buscarProductoPorId()" id="buscar-producto">
                <span>Buscar</span>
            </div>
        </div>
        <div id="contenedor-producto-encontrado" class="flex-col-center-center">
        </div>
    </main>
    <div id="modal-container">
    </div>
</body>
<script defer src="/js/update.js"></script>
<%- include("partials/footer.ejs") %>
