<header>
    <nav>
        <div class="flex-row-center-center" id="nav-sub-navbar">
            <p>Santiago Ezequiel Oldani</p>
            <p>Cristian Damian Posada</p>
        </div>
        <div class="flex-row-center-center nav-dashboard-subcontainer">
            <div class="nav-dashboard" id="nav-logo">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <h1>Farmacy</h1>
            </div>
            <ul class="flex-row-center-center">
                <li><a href="/">Ver productos</a></li>
                <li><a href="/consultar">Consultar</a></li>
                <li><a href="/crear">Crear</a></li>
                <li><a href="/modificar">Modificar</a></li>
                <li><a href="/eliminar">Eliminar</a></li>
            </ul>

            <form action="/logout" id="logout" method="POST">
                <button type="submit" id="button-logout">
                    Cerrar sesión <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </form>

        </div>
    </nav>
</header>
