<header>
    <nav>
        <div class="flex-row-center-center" id="nav-sub-navbar">
            <p>Santiago Ezequiel Oldani</p>
            <p>Damián Posada</p>
        </div>
        <div class="flex-row-center-center nav-dashboard-subcontainer">
            <div class="nav-dashboard" id="nav-logo">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <h1>Farmacy</h1>
            </div>
            <ul class="flex-row-center-center">
                <a href="/"><li>Ver productos</li></a>
                <a href="/consultar"><li>Consultar</li></a>
                <a href="/crear"><li>Crear</li></a>
                <a href="/modificar"><li>Modificar</li></a>
                <a href=""><li>Eliminar</li></a>
            </ul>
        </div>
    </nav>
    
</header>
